<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39659342369-pbuhiobfuojg7r1paekf6sh6m66gqs2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39659342369-pbuhiobfuojg7r1paekf6sh6m66gqs2l</string>
	<key>API_KEY</key>
	<string>AIzaSyBsZlh2Xdyl8Pwf1M9AHC7qNOD3YRf5iOk</string>
	<key>GCM_SENDER_ID</key>
	<string>39659342369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyletran.Joobie</string>
	<key>PROJECT_ID</key>
	<string>jooby-b9791</string>
	<key>STORAGE_BUCKET</key>
	<string>jooby-b9791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39659342369:ios:a3215e5a376262ace47160</string>
</dict>
</plist>